.headerContainer {
    display: flex;
    gap: 171px;
    width: 78%;
    max-width: 1116px;
    margin: 0px auto;
}

.headerLogo svg {
    display: none;
}

.headerNav {
    display: flex;
    gap: 63;
    margin-top: 7px;
}

.headerNav a {
    color: #12305B;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.headerNav .active {
    font-weight: 700;
}

@media screen and (max-width:500px) {
    .headerContainer {
        flex-direction: column;
        gap: 8px;
        width: 95%;
        z-index: 2;
        max-width: 100%;
    }

    .headerLogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .headerLogo svg {
        display: block;
    }

    .headerNav {
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: -500px;
        transition: 1s all ease;
        background-color: white;
        top: 90px;
        gap: 20px;
        padding: 20px;
        z-index: 2;
    }

    .headerCont {
        left: 0px;
        transition: 1s all ease
    }
}