* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Open Sans", sans-serif;
}

input:focus {
  border: none;
  outline: none;
}